/* configurações do cabeçalho*/
h1{
    color: #991717;
    margin: auto;
    margin-top: auto;
    text-align: center;
}/* configurações do cartão interno, pequeno*/
.smallCard {
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 95%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    box-sizing: border-box;
    height: auto;
}
/* configurações do cartão externo, grande*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    display: table;
    top: 0;
    box-sizing: border-box;
    font-size: 100%;
}
/* configurações da imagem dentro do cartão*/
.menuImagem{
    width: 15%;
    margin: 0;
    float: left;
}
/* configurações do texto de descrição dentro do cartão*/
.descricao{
    padding: 0;
    text-align: center;
    margin-top: auto;
    vertical-align: top;
}
/* configurações dos cabeçalhos */
h2, h3{
    color: #991717;
    margin: auto;
    margin-top: auto;
}
/* configurações dos textos */
.textIndex{
    text-align: justify;
    padding: 20px;
    color: #991717;
    font-size: 120%;
}
/*botão para contralar o popup*/
.button {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid #06D85F;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    background-color: #991717;;
  }
  .button:hover {
    background: #06D85F;
  }
  /* overlay para esconder o popup*/
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  /* overlay para trazer o popup*/
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  /* configurações gerais do popup*/
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
    color: #991717;
  }
  /* configurações da imagem do popup*/
  .popup img {
      padding-top: 20px;
      width: 40%;
      height: auto;
  }
/* configurações do cabeçalho do popup*/
  .popup h2 {
    margin-top: 0;
    color: #991717;
    font-family: Tahoma, Arial, sans-serif;
    margin-bottom: 20px;
  }
  /* controle de abertura e fechamento do popup*/
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  /* media para controle do popup*/
  @media screen and (max-width: 700px){
    .popup{
      width: 70%;
    }
  }