
header{
    background-color: white;
    width: 100%;
    height: 120px;
    /* padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px; */
    box-sizing: border-box;
    margin: 0;
    }
    /* barra apenas para estilo */
    div#barra{
        background-color: #db6607;
        margin: 0;
        width: 100%;
        height: 20px;
    }
div#divLogo{
    box-sizing: border-box;
    /* height: 180px;
    width: 180px; */
    height: 80px;
    width: 80px;
    background-image: url(../imagens/logo.gif);
    background-size: cover;
    border-radius:100%;
    box-shadow: 1px 1px 6px 6px red;
    float: left;
    box-sizing: border-box;
    margin-top: 10px;
    margin-left: 10px;
}
 div#cabecalho{
    margin-left: 20px;
    width:80%;
    height: 80px;
    float: left;
    text-align: center;
    box-sizing: border-box;
    
    
} 
 h1{
    font-size: 3rem;
    align-content: center;
    color: rgb(2, 46, 2);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
div#mainNav{
    background-color: #db6607;
    margin: 0;
    width: 100%;
    height: 20px;
    text-align: center;
    box-sizing: border-box;
}
div#home{
    display: inline-block;
    color: white;
    margin-right: 10px;
    font-weight: bold;
}
div#cardapio{
    display: inline-block;
    color: white;
    margin-right: 5px;
    font-weight: bold;
}
div#contato{
    display: inline-block;
    color: white;
    font-weight: bold;
}
div#login{
    
    color: white;
    font-weight: bold;
    float: right;
    margin-right: 10px;
}
div#registro{
    
    color: white;
    font-weight: bold;
    float: right;
    margin-right: 10px;
} 